
@font-face {
	font-family: 'Lato';
	src: url('Lato-Regular.ttf');
	font-weight: 400;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #3498db;
	z-index: 100;
}

nav>* {
	display: inline-block;
	padding: 1em 0;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1em;
	text-align: center;
}

nav a {
	color: #ecf0f1;
	width: 2.5em;
	text-decoration: none;
}

nav a img {
	height: 1em;
	vertical-align: middle;
}

nav a:first-child {
	float: left;
}

nav a:last-child {
	float: right;
}

nav span {
	color: #ecf0f1;
	width: calc(100% - 5em);
}

section {
	width: 100%;
	padding-top: 4.625em;
	overflow-x: hidden;
	white-space: nowrap;
}

section>div {
	display: inline-block;
	position: relative;
	left: 0;
	width: 100%;
	text-align: center;
	vertical-align: top;
	transition: left 0.25s ease, height 0.25s ease;
}

section>div:last-child {
	height: 0;
}

section div div h3 {
	color: #555;
	width: calc(100% - 3em);
	padding: 0.5em 1.5em;
	margin: 0;
	background-color: #ecf0f1;
	font-size: 1.125em;
	font-weight: 400;
	text-align: left;
}

section div div textarea {
	display: block;
	color: #222;
	width: calc(100% - 1em);
	min-height: 5em;
	padding: 0.5em;
	background-color: #fff;
	border: none;
	border-radius: 0;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.25em;
	font-weight: 400;
}
